@import "tailwindcss";

/* Global body styles */
body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;

  /* Global dark background + white text */
  @apply bg-neutral-950 text-white;
}
